:root {
    --spacing-big: 24px; 
    --spacing: 12px;
    --spacing-small: 6px;
    --font-size-s: 12px; 
    --text-color-dark: #333;
    --text-color-light: #e4e4e4;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
    
    color: var(--text-color);
    background: var(--bg-color);
}

* {
    box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

a {
	color: var(--anchor-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: var(--anchor-color-visited);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background: #f4f4f4;
	outline: none;
    min-width: 50px;
    cursor: pointer;
}

button:hover {
    background: #d1d4d2;
}

button:focus {
	border-color: #666;
}

button:disabled {
    background: #ccc;
    opacity: 0.5;
}

.font-size-xl {
    font-size: 24px;
}

.font-size-l {
    font-size: 18px;
}

.font-size-m {
    font-size: 14px;
}

.font-size-s {
    font-size: var(--font-size-s);
}

.font-size-xs {
    font-size: 12px;
}

.bold {
    font-weight: bold;
}

.highlight {
    background: var(--accent-color-light);
    color: var(--text-color-dark);
}

.highlight:disabled {
    background: #d5d458;
    opacity: 0.7;
}

.outline {
    outline: 1px solid var(--accent-color-dark);
}

.pointer {
    cursor: pointer;
}

/* Light theme */
@media (prefers-color-scheme: light) {
    :root {
        --accent-color-light: #fffcd7;
        --accent-color-dark: #d5d458;
        --anchor-color: rgb(0, 100, 200);
        --anchor-color-visited: rgb(147, 147, 147);
        --source-hover-color: #f2f2f2; 
        --danger-color: #ffdfdf;
        --danger-color-hover: #efa2a2;
        --text-color: var(--text-color-dark);
        --bg-color: white;
    }
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
    :root {
        --accent-color-light: #f9f3aa;
        --accent-color-dark: #d5d458;
        --anchor-color: rgb(127 213 255);
        --anchor-color-visited: rgb(147, 147, 147);
        --source-hover-color: #505050;
        --danger-color: #ffdfdf;
        --danger-color-hover: #efa2a2;
        --text-color: var(--text-color-light);
        --bg-color: #232323;
    }
}
